<style>
    .ticket-page {
        padding-top: 2%;
        padding-left: 2%;
    }
</style>
<div class="ticket-page">
    <fw-button id="loadButton" onclick="loadDatatable()">Load Datatable</fw-button>
    <fw-button id="resetButton" onclick="reset()">Reset</fw-button>
    <br /><br />

    <fw-data-table id="datatable" is-selectable="true" is-all-selectable="true" label="Data table">
    </fw-data-table>
</div>
<script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>

<script>
    function loadDatatable() {
        var data = {
            columns: [{
                "key": "name",
                "text": "Name"
            }, {
                "key": "role",
                "text": "Role"
            }],
            rows: [{
                "id": "0001",
                "name": "Alexander Goodman",
                "role": "Member"
            }, {
                "id": "0002",
                "name": "Ambrose Wayne",
                "role": "Member"
            }, {
                "id": "0003",
                "name": "August hines",
                "role": "Administrator"
            }],
            rowActions: [{
                "name": "Alert",
                "handler": (rowData) => {
                    window.alert(rowData.name);
                }
            }, {
                "name": "Delete",
                "handler": async (rowData) => {
                    let deletePromise = new Promise((resolve, reject) => {
                        const dataTable = document.querySelector('#datatable');
                        setTimeout(() => {
                            if (dataTable) {
                                dataTable.rows = dataTable.rows.filter((row) => (row.id !== rowData.id));
                                resolve();
                            } else {
                                reject();
                            }
                        }, 3000);
                    });
                    await deletePromise;
                },
                "hideForRowIds": ["0003"]
            }]
        }

        var datatable = document.getElementById('datatable');
        datatable.columns = data.columns;
        datatable.rows = data.rows;
        datatable.rowActions = data.rowActions;
    }
    function reset() {
        var datatable = document.getElementById('datatable');
        datatable.columns = '';
        datatable.rows = '';
    }
</script>